# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Logs
logs/
*.log

# Go workspace file
go.work
go.work.sum

# Ignore all configs except the example
config*.yaml
!config.example.yaml
